html,
body {
  padding: 0;
  margin: 0;
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #242a33dd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
