@import "./mixins/base.scss";

.header {
  display: flex;
  background-color: $bg-white;
  align-items: center;
  position: fixed;
  padding: 10px 50px;
  width: 100%;
  border-bottom: 2px solid $bg-purple;

  &__logo {
    height: 35px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
